.main {
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #9796f0, #fbc7d4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.knockout-stage-pill {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background: rgb(254, 254, 255);
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.knockout-stage-number {
    background: rgb(10, 42, 61);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position:relative;
    top: 5px;
    left: 5px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    padding: 0 14px;
    display: inline-block;
}

.knockout-stage-text {
    color: rgb(42, 81, 104);
    display: inline-block;
    padding: 0 20px;
    position: relative;
    top: -4px;
}