<!-- <div class="container">
  <app-knockout-card [countryName1]=c1 [countryName2]=c2></app-knockout-card> -->
   <!-- <app-knockout-stage></app-knockout-stage>
  <app-knockout-card></app-knockout-card>
  <app-knockout-card></app-knockout-card>
  <app-knockout-card></app-knockout-card>
  <app-knockout-card></app-knockout-card>
  <app-knockout-card></app-knockout-card>
  <app-knockout-card></app-knockout-card>
  <app-knockout-card></app-knockout-card>  
</div> --> 

<router-outlet>
  <!-- <app-group-stage></app-group-stage>
  <app-knockout-stage></app-knockout-stage> -->
</router-outlet>